@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

div#users {
    margin: 1rem;
}

form#userForm {
    background-color: #eee;
    border: 0.25rem solid #aaa;
    padding: 1rem;
    margin-left: 1rem;
}

form#filterForm button {
    margin: 0 1rem;
}

form#filterForm {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    background: #eee;
    border: 0.25rem solid #aaa;
}

form#filterForm p {
    align-self: center;
}

h1, form, p {
    text-align: center;
}

dl {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
}

dl li {
    list-style: none;
    margin: 0.25rem;
}

dt, dd {
    display: inline;
}

dl:nth-of-type(even) {
    background-color: whitesmoke;
}

div.profile {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
}
