body {
    font-family: sans-serif;
}

li {
    cursor: pointer;
    list-style-type: none;
}

ul.back li:first-child {
    list-style-image: url("https://1.bp.blogspot.com/-Ts_0-ndNS8A/UnevuuPxFgI/AAAAAAAAABo/dWmGC8rTyb8/s1600/arrow-circle-up.png");
}

.invalid {
    border: 5px dashed red;
}