@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

form#userForm {
    background-color: #eee;
    border: 0.25rem solid #aaa;
    padding: 1rem;
}

h1, form, p {
    text-align: center;
}

dl {
    /*display: inline-block;*/
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

li {
    list-style-type: none;
    margin: 0.25rem;
}

div.profile {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
}
